<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Home/Index">
                    <img class="home-logo" src="~/Content/Images/General/Logo.png" />
                </a>
            </div>
            <div>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("MEN'S WATCHES", "MensWatches", "Item")</li>
                    <li>@Html.ActionLink("WOMEN'S WATCHES", "WomensWatches", "Item")</li>
                    <li>@Html.ActionLink("SHOP BY BRAND", "Brands", "Home")</li>
                    <li>@Html.ActionLink("HANDBAGS", "Handbags", "Item")</li>
                    <li>@Html.ActionLink("SUNGLASSES", "Sunglasses", "Item")</li>
                    <li>@Html.ActionLink("ALL CATEGORIES", "Categories", "Home")</li>
                    @Html.Partial("_AdminMenuPartial")
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div class="sale-alert">Our RED ALERT Sale Is Live Now! PLUS, Get Free U.S. Shipping with promo code "WOWSHIP"!</div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="footer-content">

                <div class="footer-list-container">
                    <ul class="company-info footer-list">
                        <li class="footer-title"><p>COMPANY INFO</p></li>
                        <li class="footer-link">@Html.ActionLink("About Us", "Index", "Home", new { @style = "font-size: 14px; color: black;" })</li>
                        <li class="footer-link">@Html.ActionLink("Contact Us", "Index", "Home", new { @style = "font-size: 14px; color: black;" })</li>
                        <li class="footer-link">@Html.ActionLink("Blog", "Index", "Home", new { @style = "font-size: 14px; color: black;" })</li>
                    </ul>
                </div>

                <div class="footer-list-container">
                    <ul class="policies footer-list">
                        <li class="footer-title"><p>POLICIES & ORDER</p></li>
                        <li class="footer-link">@Html.ActionLink("My Account", "Index", "Home", new { @style = "font-size: 14px; color: black;" })</li>
                        <li class="footer-link">@Html.ActionLink("Returns", "Index", "Home", new { @style = "font-size: 14px; color: black;" })</li>
                        <li class="footer-link">@Html.ActionLink("Payment Options", "Index", "Home", new { @style = "font-size: 14px; color: black;" })</li>
                    </ul>
                </div>

                <div class="footer-list-container">
                    <ul class="why-shop-here footer-list">
                        <li class="footer-title"><p>WHY SHOP WITH US</p></li>
                        <li class="footer-link">@Html.ActionLink("30 Day Return Policy", "Index", "Home", new { @style = "font-size: 14px; color: black;" })</li>
                        <li class="footer-link">@Html.ActionLink("Free Shipping Over $100", "Index", "Home", new { @style = "font-size: 14px; color: black;" })</li>
                        <li class="footer-link">@Html.ActionLink("100% Authentic Watches", "Index", "Home", new { @style = "font-size: 14px; color: black;" })</li>
                    </ul>
                </div>

                <div class="footer-list-container">
                    <ul class="help-area footer-list">
                        <li class="footer-title"><p>HELP AREA</p></li>
                        <li class="footer-link">@Html.ActionLink("Warranty", "Index", "Home", new { @style = "font-size: 14px; color: black;" })</li>
                        <li class="footer-link">@Html.ActionLink("Privacy Policy", "Index", "Home", new { @style = "font-size: 14px; color: black;" })</li>
                        <li class="footer-link">@Html.ActionLink("FAQs", "Index", "Home", new { @style = "font-size: 14px; color: black;" })</li>
                    </ul>
                </div>

                <div class="footer-list-container">
                    <ul class="customer-service footer-list">
                        <li class="footer-title"><p>WE'RE HERE TO HELP!</p></li>
                        <li><p>Customer Service/Returns Dept.</p></li>
                        <li><p>WorldofWatches.com</p></li>
                        <li><p>1303 53rd Street, Unit 324 </p></li>
                        <li><p>Brooklyn, NY 11219</p></li>
                    </ul>
                </div>

                <div class="footer-list-container">
                    <ul class="email-signup footer-list">
                        <li class="footer-title"><p>SIGN UP FOR EXCLUSIVE EMAIL:</p></li>
                    </ul>
                </div>

                <div class="footer-list-container">
                    <ul class="chat footer-list">
                    </ul>
                </div>

                <div class="footer-list-container">
                    <ul class="perks footer-list">
                        <li class="footer-title"><p>PERKS</p></li>
                        <li class="footer-link">@Html.ActionLink("30 Day Return Policy", "Index", "Home", new { @style = "font-size: 14px; color: black;" })</li>
                        <li class="footer-link">@Html.ActionLink("Free Shipping Over $100", "Index", "Home", new { @style = "font-size: 14px; color: black;" })</li>
                        <li class="footer-link">@Html.ActionLink("100% Authentic Watches", "Index", "Home", new { @style = "font-size: 14px; color: black;" })</li>
                    </ul>
                </div>

            </div>
            <div class="copywright-container"><p class="footer-copywright">&copy; @DateTime.Now.Year - WoW | BRAVO TECHNOLOGY</p></div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/admin")
    @RenderSection("scripts", required: false)
</body>
</html>
