@model OnlineRetailer.Areas.Admin.Models.ItemModel


@{
    ViewBag.Title = "WoW | Admin";
}

<div class="admin-view-container">

    <h3>Item Details</h3>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Manufacturer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModelNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModelNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SKU)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SKU)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UPCCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UPCCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShortDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LongDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LongDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImageURL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageURL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ListPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ListPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SalePrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SalePrice)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Discount)%
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Discount)%
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InStock)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InStock)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDailySpecial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDailySpecial)
            </dd>

        </dl>
    </div>
    <p>
        @Html.Partial("_EditButtonPartial", Model.Id)
        @Html.Partial("_BackToListButtonPartial")
    </p>
</div>