@model IEnumerable<OnlineRetailer.Areas.Admin.Models.ItemModel>

@using OnlineRetailer.Areas.Admin.Models;


@{
    ViewBag.Title = "Home Page";
}

<div class="banner-large">
    <a><img src="~/Content/Images/General/Banner.jpg" /></a>
</div>

<div>
    <div><h2 id="daily-deals">Daily Deals</h2></div>
</div>

@Html.Partial("_ItemThumbnailAreaPartial", Model)

<div>
    <div class="featured-brands">
        <div class="top-brands">
            <a class="item-1" href="@Url.Action("EliniBarokas", "Product")">
                <img src="@Url.Content("~/Content/Images/General/EliniBannerSmall.jpg")"/>
            </a>
            <a class="item-2" href="@Url.Action("Invicta", "Product")">
                <img src="@Url.Content("~/Content/Images/General/InvictaBannerSmall.jpg")" />
            </a>
        </div>
        <div class="bottom-brands">
            <a class="item-3" href="@Url.Action("LucienPicard", "Product")">
                <img src="@Url.Content("~/Content/Images/General/LPBannerSmall.jpg")" />
            </a>
            <a class="item-4" href="@Url.Action("Invicta", "Product")">
                <img src="@Url.Content("~/Content/Images/General/SLBannerSmall.jpg")" />
            </a>
        </div>
    </div>
</div>


