@model OnlineRetailer.Entities.Customer

@{
    ViewBag.Title = "WoW | Admin";
}

<div class="admin-view-container">

    <h3>Customer Details</h3>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>


        </dl>
    </div>
    <p>
        @Html.Partial("_EditButtonPartial", Model.Id)
        @Html.Partial("_BackToListButtonPartial")
    </p>
</div>